/*フォントカラー変更*/
.MuiTypography-colorTextPrimary, .MuiTypography-colorTextSecondary /*チャット*/ {
    color: #fff !important;
}
div[tabindex="0"] > div:nth-child(6) .MuiTypography-subtitle2 , .MuiTypography-body1 /*ウインドウ*/ {
    color: #fff !important;
}

/*チャット背景色変更*/
.MuiListItem-root {
    background-color: rgba(120,80,160,0.9);
/* 標準色: rgba(20,20,20,0.92); */
}


/***********************************************************/
/***********************************************************/


/*ロード時のポップアップ*/
.MuiDialog-root {
    display: none;
}

body {
    background: #fff0;
}

/* 様々なモノを非表示 */
header>.MuiToolbar-gutters /*ヘッダー*/,
body > div > div > div:nth-child(2)/*背景*/,
div[tabindex="0"] > div:nth-child(1) /*盤面画像一括*/,
div[tabindex="0"] > div:nth-child(3) /*BGM*/,
button.MuiButtonBase-root:not(.MuiTab-root),
button.MuiButtonBase-root+span /*拡大縮小*/,
.MuiFab-root /*メニューボタン*/,
.MuiBadge-root, .MuiBadge-root+div /*ステータス*/,
div[open] /*カットイン*/,
.MuiSnackbar-root /*カットイン音声*/,
.MuiTypography-caption /*キャラクター名前*/ {
    display: none;
}

::-webkit-scrollbar {
    display: none !important;
}


/**************************
    フォント
**************************/

.MuiTypography-body1, .MuiTypography-body2, .MuiTypography-subtitle2 {
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    font-weight: 500;
}

.MuiTypography-subtitle2 /*チャット名前*/ {
    font-weight: bold;
    line-height: 1.39;
}
.MuiTypography-body2 /*チャット本文*/{
    font-weight: 500;
    font-size: 0.8rem;
}
div[tabindex="0"] > div:nth-child(6) > div > div:nth-child(2) > .MuiTypography-body2 /*ウインドウ成功失敗*/{
    font-weight: bold;
    line-height: 1.39;
    font-size: 0.875rem;
}
div[tabindex="0"] > div:nth-child(6) > div > div:nth-child(2) > .MuiTypography-subtitle2 /*ウインドウ名前*/ {
    font-weight: bold;
    line-height: 1.39;
    font-size: 1rem;
}
.MuiTypography-body1 /*ウインドウ本文*/{
    font-weight: 500;
    font-size: 0.90rem;
}

 
/**************************
    テキストウィンドウ
**************************/

div[tabindex="0"] > div:nth-child(6) {
    display: none;
}

 
 
/**************************
        チャット
**************************/

.MuiDrawer-paperAnchorRight {
    position: absolute;
    left: 85px;
    top: 151px;
    background: rgba(0,0,0,0);
    height: 610px;
    transform: scale(1.5);
    width: 400px !important;
}

.MuiDrawer-paperAnchorDockedRight /* チャットタブ左の枠線 */ {
    border: 0px solid rgba(0,0,0,0);
}

form > div:nth-child(n) /* チャット下部 */,
.MuiDivider-root /* チャット区切り線 */,
.MuiTypography-caption /* チャット時刻表示 */  {
    display: none;
}
header .MuiBadge-root {
    display: block !important;
}

.MuiListItem-gutters {
    opacity: 0;
    animation: inAndOut 12s;
    transition: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,0);
    overflow: hidden;
}
@keyframes inAndOut {
    0% {
        transform: translateX(-70px);
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    85% {
        opacity: 1;
        left: 0%;
    }
    100% {
        opacity: 0;
    }
}

.MuiListItem-root > div:nth-child(1) > div /* アイコン */ {
    background: rgba(0, 0, 0, 0);
}

.MuiListItemAvatar-root /* アイコンとテキストの距離 */ {
    min-width: 10px;
}



/**************************
     チャットタブ表示
**************************/

.MuiDrawer-paperAnchorRight  > div:nth-child(2) > div:nth-child(2) > form > div /* チャット下部 */ {
    display: none;
}
.MuiTab-wrapper > .MuiBadge-root {
    display: block !important;
}
 
 
/***********************************************************/
/***********************************************************/
/*アイコン*/
.MuiPaper-root > img /*バストアップ用*/ {
    position: fixed;
    top: 900px;
    left: -20px;
    transform: scale(1.5);
    object-fit: contain;
}
.MuiPaper-root > img {
    width: 240px;
    height: 200px;
    object-fit: contain;    
}

.MuiPaper-root > img /*キャラクター*/ {
    visibility: hidden;
} 
img[src="https://storage.ccfolia-cdn.net/shared/92d8716b75272cdf0c9bb6e8558cdfa3a9c6407e6e20a67b02a232036a7332e8.png"],
img[src="https://storage.ccfolia-cdn.net/shared/3777db1b89285824edcb077de1c84ac81bd5a8aa7164b9274b4729b7aa005ad6.png"] {
    visibility: visible !important;
}

.MuiListItemText-multiline {
  margin-top: 6px;
  margin-bottom: 6px;
  z-index: 1;
}
.MuiListItem-root {
overflow: hidden;
}
.MuiListItemAvatar-alignItemsFlexStart {
  margin-top: -30px;
}
.MuiListItem-root > div:nth-child(1) > div /* アイコン */ {
    background: rgba(0, 0, 0, 0);
    width: 10px;
    height: 40px;
    overflow: visible;
}
.MuiListItem-root > div:nth-child(1) > div img {
  margin-left: 240px;
    width: 150px;
    opacity: 0.5;
}

 
