/*******************
キャラクター
********************/

/*チャパレ*/
div.MuiDialogContent-root > form > div:nth-child(5) > div.MuiFormControl-root > div > textarea {
    height: 370px !important;
}
/*説明文*/
div.MuiDialogContent-root > form > div:nth-child(n) > span {
    display: none;
}
/*キャラクターメモ*/
div.MuiDialogContent-root > form > div:nth-child(1) > div.MuiFormControl-root > div > textarea {
    height: 120px !important;
}
/*余白*/
div.MuiDialogContent-root > form > div:nth-child(n+3):nth-child(-n+4) > div:nth-child(n) {
    height: 38px;
}
div.MuiDialogContent-root > form > div:nth-child(n+3):nth-child(-n+4) > div:nth-child(n) > div:nth-child(n) > label {
    display: none;
}
div.MuiDialogContent-root > form > div:nth-child(n) > div.MuiToolbar-root.MuiToolbar-dense {
    min-height: 0px;
    height: 10px;
}
.MuiDialog-paperFullWidth.MuiDialog-paperWidthSm > div.MuiDialogContent-root > form > div:nth-child(n) {
    margin-top: 0px;
    margin-bottom: 40px;
}


/*******************
シーン一覧
********************/

[aria-roledescription="sortable"] > div > button,
[aria-roledescription="sortable"] > div > button > .MuiCardMedia-root {
    width: 80px !important;
    height: 54px !important;
}

.MuiPaper-root.MuiCard-root > div:nth-child(2) {
    padding: 3px 0px 3px 6px;
}
.MuiPaper-root.MuiCard-root > div:nth-child(2)  > div:nth-child(1) > span:nth-child(1) {
    font-size: 0.8rem;
    max-width: 1000px;
    text-decoration: none;
}
.MuiPaper-root.MuiCard-root > div:nth-child(2)  > div:nth-child(1) > span:nth-child(2) {
    font-size: 0.75rem;
    max-width: 1000px;
    text-decoration: none;
    color: rgb(125, 125, 125);
}

.MuiPaper-root.MuiCard-root > div:nth-child(2) > div:nth-child(2) {
    margin-right: 4px;
    color: rgb(98, 98, 98);
}
.MuiPaper-root.MuiCard-root > div:nth-child(2) > div:nth-child(2) > button {
    width: 22px;
}


/*******************
シナリオテキスト
********************/

div.MuiListItemText-dense > .MuiListItemText-secondary {
    color: rgba(255, 255, 255, 0.35);
    font-size: 0.75rem;
}


/*******************
音量バー
********************/

:root {
    --width: 360px;
}

div[tabindex="0"] > div:nth-child(3) > div > .MuiSlider-root {
    width: var(--width);
}


/*******************
画像選択ポップアップ
********************/

.MuiDialog-container > .MuiPaper-elevation24 > header > div:nth-child(2) > div.MuiTabs-scrollable  > div > button {
    min-width: 125px !important;
}

/*******************
bgm選択画面
********************/
div[role="presentation"] > div.MuiPaper-elevation16 {
    height: 90%;
}
[aria-roledescription="sortable"] > li > div:nth-child(1) {
    padding: 5px 8px 5px 12px;
}
[aria-roledescription="sortable"]> li > div:nth-child(1) > div.MuiListItemAvatar-root {
    min-width: 50px;
    scale: 95%;
}
/*スクリーンパネルの文字が重なりを解消*/
[aria-roledescription="sortable"] > li > div:nth-child(1) > div:nth-child(2) > span {
    width: 80%;
}

/*******************
スクロールバー
********************/
body {
  scrollbar-color: #686868 #424242;
}
